.form-control {
  border-radius: 5px;
  border-color: #b3b3b3;
  height: 38px;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
}
.input-group-text {
  border-radius: 5px;
  border-color: #b3b3b3;
  height: 38px;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px 10px;
}

.card-header .form-control {
  height: 45px;
}

.form-control:focus {
  border: 2px solid #2684ff;
}

.btn {
  border-radius: 5px;
}

.card .card-footer {
  padding: 1rem 2.5rem;
}

.no-scroll {
  overflow: hidden;
}

.no-dropdown {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none; /* Removes default dropdown arrow */
  background: none;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: default;
}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.no-arrows {
  -moz-appearance: textfield;
}

.no-dropdown:focus {
  outline: none;
}

@media (max-width: 992px) {
  .text-editor {
    height: 900px; /* Set a maximum height */
    /* overflow-y: auto;  */
  }
}

.custom-table {
  width: 100%;
}

.custom-table,
.custom-table th,
.custom-table td {
  border: 1px solid;
  font-size: 0.85rem;
}

.table-border-light,
.table-border-light th,
.table-border-light td {
  border: 1px solid #cacaca;
  font-size: 1rem;
  padding: 3px;
}

.custom-table th,
.custom-table td {
  text-align: left;
  padding-left: 3px;
}
.custom-table input {
  border: 1px solid #cacaca;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1620px;
  }
}
/* custom sidebar  */
/* .aside .aside-menu .menu > .menu-item > .menu-link .menu-icon,
.aside .aside-footer .btn-custom {
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 15px;
} */

@media (min-width: 992px) {
  .aside {
    width: 110px;
  }

  .wrapper {
    padding-left: 111px;
  }
}
